@import "./responsive/variables.scss";
@import "./responsive/mixins.scss";
@import "./colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

body {
    margin: 0;
    font-family: "Kumbh Sans", sans-serif;
}

.header {
    padding: 30px 0 30px 0;
    border-bottom: 1px solid $grayish-blue;
    margin: 0 8% 0 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
        border-bottom: none;
        margin-left: 24px;
        margin-right: 24px;
    }

    nav {
        .overlay {
            top: 0;
            left: 0;
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: 99;
            background: rgba(0, 0, 0, 0.8);

            .menu {
                z-index: 999;
                position: absolute;
                left: 0;
                top: 0;
                width: 250px;
                height: 100%;
                background: white;

                .close {
                    margin: 25px;
                }

                .menu-list {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    li {
                        margin-left: 25px;
                        margin-bottom: 20px;
                        font-weight: bold;
                        font-size: 18px;
                        a {
                            text-decoration: none;
                            color: $black;
                        }
                    }
                }
            }
        }

        .menu-nav {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;

            .name {
                font-size: 25px;
                font-weight: bold;
                margin-right: 56px;

                @include mobile {
                    margin-right: 20px;
                }

                a {
                    color: $black;
                }
            }

            li {
                position: relative;

                a {
                    color: $dark-grayish-blue;
                    text-decoration: none;
                }
            }

            .menu-icon {
                margin-right: 16px;
                cursor: pointer;
                display: none;
                @include mobile {
                    display: block;
                }
            }

            .item {
                margin: 0 32px 0 0;

                @include mobile {
                    display: none;
                }

                &:hover::after {
                    position: absolute;
                    content: "";
                    left: 0;
                    bottom: -47px;
                    border-bottom: 4px solid $primary-orange;
                    width: 100%;
                }
            }
        }
    }

    .right {
        display: flex;
        align-items: center;

        .basket {
            .basket-icon {
                position: relative;
                .basket-img {
                    width: 21px;
                    cursor: pointer;
                }

                .basket-quantity {
                    display: flex;
                    position: absolute;
                    top: -6px;
                    right: -9px;
                    width: 19px;
                    height: 13px;
                    background: $primary-orange;
                    color: $white;
                    font-weight: bold;
                    font-size: 10px;
                    border-radius: 6.5px;
                    align-items: center;
                    justify-content: center;
                }
            }

            .basket-tab {
                display: none;
                position: absolute;
                z-index: 999;
                right: 85px;
                top: 90px;
                width: 360px;
                background: $white;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                border-radius: 10px;

                @include mobile {
                    width: 95%;
                    right: 0;
                    left: 50%;
                    transform: translate(-50%);
                }

                .title {
                    padding: 24px;
                    font-size: 16px;
                    font-weight: bold;
                    border-bottom: 1px solid #e4e9f2;
                }

                .empty-cart {
                    text-align: center;
                    color: $dark-grayish-blue;
                    font-weight: bold;
                    display: flex;
                    height: 170px;
                    justify-content: center;
                    align-items: center;
                }

                .body-cart {
                    display: flex;
                    flex-direction: column;

                    .card {
                        display: flex;
                        align-items: center;
                        margin: 24px;

                        .image {
                            img {
                                border-radius: 4px;
                                width: 50px;
                            }
                        }

                        .details {
                            margin-left: 16px;
                            color: $dark-grayish-blue;
                            p {
                                margin: 0;
                            }

                            .price {
                                color: $black;
                                font-weight: bold;
                            }
                        }

                        .trash {
                            cursor: pointer;
                            margin-left: 19px;
                            @include mobile {
                                margin-left: 14px;
                            }
                        }
                    }

                    .btn {
                        display: flex;
                        justify-content: center;
                        margin-bottom: 32px;
                        .btn-style {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 312px;
                            height: 56px;
                            font-weight: bold;
                            border-radius: 10px;
                            background: $primary-orange;
                            color: $white;
                            text-decoration: none;
                        }
                    }
                }
            }

            &:focus > .basket-tab {
                display: block;
            }
        }

        .profil {
            margin-left: 40px;
            cursor: pointer;
            img {
                width: 50px;
                border-radius: 50%;

                &:hover {
                    box-shadow: 0 0 0 2px $primary-orange;
                }
            }

            @include mobile {
                img {
                    width: 24px;
                }
            }
        }
    }
}

.product {
    margin: 90px 212px 0 212px;
    justify-content: center;
    display: flex;

    @include mobile {
        flex-direction: column;
        margin: 0;
    }

    .overlay {
        z-index: 99;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.774);

        .menu {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 550px;

            .close {
                font-weight: bold;
                color: $white;
                cursor: pointer;
                text-align: right;
                font-size: 20px;
            }

            .image {
                position: relative;
                margin-top: 24px;

                img {
                    width: 550px;
                    border-radius: 15px;
                }

                .left-arrow {
                    position: absolute;
                    top: 50%;
                    left: -28px;
                    transform: translate(0%, -50%);
                    user-select: none;
                    .box {
                        cursor: pointer;
                        width: 56px;
                        height: 56px;
                        border-radius: 50%;
                        background: $white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img {
                            width: 15px;
                        }
                    }
                }

                .right-arrow {
                    position: absolute;
                    top: 50%;
                    right: -28px;
                    transform: translate(0%, -50%);
                    user-select: none;
                    .box {
                        cursor: pointer;
                        width: 56px;
                        height: 56px;
                        border-radius: 50%;
                        background: $white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img {
                            width: 15px;
                        }
                    }
                }
            }

            .thumbnail {
                margin-top: 40px;
                display: flex;
                justify-content: space-evenly;
                img {
                    width: 88px;
                    border-radius: 10px;
                    cursor: pointer;
                }
            }
        }
    }

    .left {
        display: flex;
        flex-direction: column;
        .image {
            position: relative;
            img {
                width: 445px;
                border-radius: 15px;
                cursor: pointer;

                @include mobile {
                    width: 100%;
                    border-radius: 0;
                }
            }

            .left-arrow {
                position: absolute;
                top: 50%;
                left: 16px;
                transform: translate(0%, -50%);
                user-select: none;
                display: none;

                @include mobile {
                    display: block;
                }

                .box {
                    cursor: pointer;
                    width: 56px;
                    height: 56px;
                    border-radius: 50%;
                    background: $white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 15px;
                    }
                }
            }

            .right-arrow {
                position: absolute;
                top: 50%;
                right: 16px;
                transform: translate(0%, -50%);
                user-select: none;
                display: none;

                @include mobile {
                    display: block;
                }

                .box {
                    cursor: pointer;
                    width: 56px;
                    height: 56px;
                    border-radius: 50%;
                    background: $white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 15px;
                    }
                }
            }
        }

        .thumbnail {
            margin-top: 32px;
            display: flex;
            justify-content: space-between;
            img {
                cursor: pointer;
                width: 88px;
                border-radius: 10px;
            }

            @include mobile {
                display: none;
            }
        }
    }

    .details {
        margin-left: 125px;

        @include mobile {
            margin-left: 24px;
            margin-right: 24px;

            br {
                display: none;
            }
        }

        .tag {
            margin-top: 50px;
            font-weight: bold;
            color: $primary-orange;
        }

        h1 {
            font-size: 48px;
            margin-top: 27px;

            @include mobile {
                font-size: 28px;
            }
        }

        .description {
            color: $dark-grayish-blue;
            font-size: 16px;
        }

        .total {
            display: flex;
            flex-direction: column;

            @include mobile {
                align-items: center;
                justify-content: space-between;
                flex-direction: row;
            }

            .price-menu {
                display: flex;
                margin-top: 22px;
                align-items: center;
                .price {
                    color: $black;
                    font-weight: bold;
                    font-size: 28px;
                }

                .percent {
                    padding: 8px 10px 8px 8px;
                    margin-left: 16px;
                    color: #ff7e1b;
                    font-weight: bold;
                    background: #ffeee2;
                    border-radius: 6px;
                }
            }

            .reduction {
                margin-top: 10px;
                color: #b6bcc8;
                font-size: 16px;
                font-weight: bold;
                text-decoration: line-through;
            }
        }

        .buy-menu {
            margin-top: 32px;
            display: flex;
            align-items: center;

            @include mobile {
                flex-direction: column;
            }

            .quantity-selector {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 157px;
                height: 56px;
                background: #f6f8fd;
                border-radius: 10px;
                position: relative;
                user-select: none;

                @include mobile {
                    width: 100%;
                    margin-left: 24px;
                    margin-right: 24px;
                }

                .less {
                    position: absolute;
                    top: 50%;
                    transform: translate(0, -50%);
                    cursor: pointer;
                    left: 10px;
                    color: $primary-orange;
                    font-weight: bold;
                    font-size: 30px;
                }

                .quantity {
                    font-weight: bold;
                    font-size: 16px;
                }

                .more {
                    font-size: 30px;
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    transform: translate(0, -50%);
                    cursor: pointer;
                    color: $primary-orange;
                    font-weight: bold;
                }
            }

            .buy-button {
                display: flex;
                margin-left: 16px;
                text-decoration: none;
                color: $white;
                background: $primary-orange;
                width: 272px;
                height: 56px;
                text-align: center;
                border-radius: 10px;
                align-items: center;
                justify-content: center;

                @include mobile {
                    margin-top: 16px;
                    width: 100%;
                    margin-left: 24px;
                    margin-right: 24px;
                    margin-bottom: 88px;
                    box-shadow: 0 4px 8px 0 #ff7d1a8c;
                }

                &:hover {
                    background: #ffab6a;
                }

                img {
                    margin-right: 15px;
                }
            }
        }
    }
}
